
.flex{
    display: flex;
    justify-content: center;
    gap: 40px;
    box-sizing: border-box;
    vertical-align: baseline;
    background-color:rgb(66, 59, 59);
    cursor: pointer;
}
.top {
    width: 99%;
    display: flex;
    flex-flow: row-reverse;
    gap: 5px;
}
nav{
    padding: 0 20px;
    height: 50px;
}
.searchbar{
    display: flex;
}
.search{
    display: flex;
    flex-direction: row;
}
.singin{
    display: flex;
    margin: 0;
    vertical-align: baseline;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.track{
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
.leftflex{
    display: flex;
        gap: 30px;
        flex-direction: row;
        justify-content: space-between;
}
.rightflex {
    display: flex;
    gap: 30px;
    flex-direction: row;
    justify-content: space-between;
    justify-self: right;
}
.cart{
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;

}
.appstore{
    display: flex;
}
.playstore{
    display: flex;
}
header{
   padding-top: 10px;
}
.container{
    display: flex;
    grid-template-columns: repeat(1,fr);
}
.maincontainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: auto;
    padding-top: 1%;
    padding-left:10%;
    padding-right: 10%;
    gap: 2%;
}
.leftcontainer img{
    width: 100%;
}
.rightcontainer{
    display: flex;
    flex-direction: row;
    flex-direction: column;
}
.centerbanner{
    display: flex;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}
.centerbanner>img{
    width: 100%;
}
.Ip-products{
    display:block;

}
.products{
    display: grid;
}
.footernav ul{
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
    padding-left: 20%;
    padding-right: 20%;
}
.footer-tab{
    display: flex;
    background-color: gray;
    box-sizing: content-box;
    justify-content: center;
}
.footer-tab ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5%;
    padding: 2%;
    font-size: 20px;
}
.companySec{
    justify-content: center;
    display: flex;
    background-color: rgb(66, 59, 59);
}
.midfooter{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-evenly;
}
.botfooter{
    display: flex;
    justify-content: space-around;
    padding: 2%;
    background-color: rgb(66, 59, 59);
}
#product-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
    justify-content: center;
    padding: 5%;
}
#product-container>div>img{
    height: 400px;
    width: 100%;
}
#product-container>div{
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
